.chat-box {
  padding: 3rem;
  padding-right: 5rem;

  .conversation-box {
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    padding-bottom: 4rem;

    .response {
      &-user, &-ai {
        display: flex;
        padding-bottom: 2rem;
      }

      &-user {
        justify-content: end;
      }

      &-ai {
        justify-content: flex-start;
        width: 60%;
      }
    }
  }

  .input-box {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 3rem;
    width: 90%;

    .chat-input {
      width: 80%;
      height: 4rem;
      margin-right: .1rem;
    }
    .send-btn {
      width: 7rem;
      border-radius: 10%;
    }
  }
}

.loading-spinner {
  position: absolute;
  left: 45%;
  bottom: 2%;
}